<settings>
    <setting id="Location1" value="Belo Horizonte" />
    <setting id="Location1id" value="zmw:00000.1.83587" />
    <setting id="Location2" value="" />
    <setting id="Location2id" value="" />
    <setting id="Location3" value="" />
    <setting id="Location3id" value="" />
</settings>
